@media only screen and (min-width: 600px) {
form {
    text-align: -webkit-center;  
}
img {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 500px;
}
input#checkOut {
    margin: 10px;
}
input#checkIn {
    margin: 10px;
}
input#name {
    margin: 10px;
}
input#lastName {
    margin: 10px;
}
select#hotelName {
    margin: 10px;
}
button#bookBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
}
button#compareBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 10px;}
.buttons {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}
select#hotelName {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
}
@media only screen and (min-width: 768px) {
form {
    text-align: -webkit-center;  
}
img {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 500px;
}
input#checkOut {
    margin: 10px;
}
input#checkOut {
    margin: 10px;
}
input#checkIn {
    margin: 10px;
}
input#name {
    margin: 10px;
}
input#lastName {
    margin: 10px;
}
select#hotelName {
    margin: 10px;
}
button#bookBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
}
button#compareBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 10px;}
.buttons {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}
select#hotelName {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
}
@media only screen and (min-width: 1200px) {
form {
    text-align: -webkit-center;  
}
img {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 500px;
}
input#checkOut {
    margin: 10px;
}
input#checkIn {
    margin: 10px;
}
input#name {
    margin: 10px;
}
input#lastName {
    margin: 10px;
}
select#hotelName {
    margin: 10px;
}
button#bookBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
}
button#compareBtn {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: black;
    color: white;
    margin-left: 10px;}
.buttons {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}
select#hotelName {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
}